:root {
    --bg-orange: #FCCA3D;
    --color-bay-of-many: #2b4386;
    --color-mandy: #E8505B;
    --color-foam: #F4FCFE;
    --color-oslo-gray: #979ca0;
    --color-alabaster: #FAFAFA;
    --color-white-ice: #f3fcfd;
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-white-ice);
}
.text-bay{
    color: var(--color-bay-of-many);
}
.text-mandy{
    color: var(--color-mandy);
}
.bg-orange {
    background-color: var(--bg-orange);
}
.bg-mandy{
    background-color: var(--color-mandy);
}
.bg-royal-blue{
    background-color: var(--color-bay-of-many);
}
.bg-foam{
    background-color: var(--color-foam);
}
.bg-white-ice{
    background-color: var(--color-white-ice);
    padding-top: 85px;
    padding-bottom: 10px;
}
.item-box{
    position: relative;
    width: 100%;
}
.item-box .before{
    width: 100%;
    height: 400px;
    background: #F4FCFE;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-box .before .timeline-dots{
    display: none;
}
.item-box .before .timeline-des h3{
    color: #e8505b;
}
.item-box .before .timeline-des p{
    color: #979ca0;
}
.item-box::before{
    content: '';
    position: absolute;
    background: url(../img/text.png);
    width: 151px;
    height: 265px;
    background-size: contain;
    top: -80px;
    z-index: 0;
    left: -45px;
}
.timeline-item{
    margin-bottom: 30px;
}
.timeline-dots{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    color: #E8505B;
}
.timeline-dots::before{
    content: '';
    position: absolute;
    bottom: -110px;
    width: 3px;
    height: 110px;
    background: #fff;
}
.timeline-des{
    max-width: 400px;
    padding-left: 15px;
    padding-top: 8px;
}
.timeline-des h3{
    font-size: 20px;
    color: #f4fcfe;
    font-weight: 600;
}
.timeline-des p{
    font-size: 14px;
    letter-spacing: -1px;
    color: #f4fcfe;
}
.ops-abs{
    position: absolute;
    width: 100%;
    top: -30px;
}
.universities{
    border-radius: 10px;
    filter: drop-shadow(0px 5px 9px rgba(180,237,247,0.75));
    background-color: #ffffff;
    height: 180px;
}
.our-benefit{
    background: #f3fcfd;
    padding: 210px 0 60px;
    min-height: 1000px;
    position: relative;
}
.relative-top{
    position: relative;
    z-index: 33;
    max-width: 900px;
}
.our-benefit::before{
    content: '';
    position: absolute;
    background: url(../img/image.png);
    background-size: contain;
    width: 424px;
    height: 722px;
    left: -250px;
    top: 100px;
}
.our-benefit::after{
    content: '';
    position: absolute;
    background: url(../img/image-copy.png);
    background-size: contain;
    width: 380px;
    height: 837px;
    right: 0px;
    top: 160px;
}
.our-services.our-benefit::after{
    content: '';
    position: absolute;
    background: url(../img/Layer35b.png);
    background-size: contain;
    width: 136px;
    height: 834px;
    right: 0px;
    top: 160px;
}
.our-services.our-benefit .ops-abs-img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    bottom: auto;
}
.ops-abs-img{
    position: absolute;
    bottom: 0;
}
.d-header p{
    color: #979ca0;
    font-size: 14px;
    max-width: 500px;
    margin-bottom: 70px;
}
.benefit-card{
    background: #fff;
    padding: 80px 20px 30px;
    margin-bottom: 60px;
    position: relative;
}
.benefit-card h1{
    font-size: 24px;
    color: #e8505b;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 10px;
}
.benefit-card p{
    font-size: 13px;
    font-weight: 300;
    color: #979ca0;
    margin-bottom: 0;
}
.gradient-text{
    position: absolute;
    right: 30px;
    top:-30px;
    background: -webkit-linear-gradient(#fff, #2c4386);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    font-weight: 700;
    line-height: 1;
    text-align: right;
}
.choose-us{
    background: #e8505b;
    height: 500px;
    position: relative;
}
.choose-us::before{
    content: '';
    position: absolute;
    background: url(../img/lines.png);
    background-size: contain;
    width: 409px;
    height: 502px;
    left: 0;
}
.choose-us::after{
    content: '';
    position: absolute;
    background: url(../img/layer123.png);
    background-size: contain;
    width: 82px;
    height: 501px;
    right: 0;
}
.rating{
    color: var(--bg-orange);
    font-size: 20px;
    margin-bottom: 4px;
}
.company-logo{
    padding: 2px 10px;
    height: 50px;
}
.extra-trust{
    font-size: 16px;
    color: #b4edf7;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}
.extra-trust span{
    font-size: 12px;
    font-weight: 400;
    color: #000;
    margin-left: 5px;
}
.s-content{
    background: #fff;
    border-radius: 6px;
    padding: 15px;
    font-weight: 300;
    font-size: 14px;
    color: #979ca0;
}
.box-us{
    width: 500px;
    border: 3px solid #fff;
    padding: 40px 20px;
}
.box-us p{
    font-size: 14px;
    font-weight: 300;
}
.order-process{
    background: var(--color-bay-of-many);
    min-height: 400px;
    position: relative;
    padding: 50px 0;
}
.order-process::before{
    content: '';
    position: absolute;
    background: url(../img/layer-371.png);
    background-size: contain;
    width: 75px;
    height: 455px;
    top: 150px;
}
.hgroup-heading h5{
    font-size: 20px;
    font-weight: 600;
}
.hgroup-heading h3{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
}
.contact-discount{
    background: url(../img/contact-discount.png);
    height: 350px;
    display: flex;
    align-items: center;
    position: relative;
}
.contact-discount .container::before{
    content: '';
    position: absolute;
    background: url(../img/layer-6.png);
    background-size: contain;
    width: 430px;
    height: 430px;
    top: -61px;
}
.desc-discount h2{
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.desc-discount h2 span{
    color: #2b4386;
    font-size: 50px;
}
.discount-form i{
    font-size: 42px;
    color: #2c4386;
}
.discount-form .form-control{
    border: 2px solid #2c4386;
    max-width: 200px;
    color: #2c4386;
    font-weight: 500;
}
.discount-form .btn{
    border: 2px solid #2c4386;
    background: #fff;
    color: #2c4386;
    font-weight: 500;
}
.subject-area{
    padding-top: 65px;
    filter: drop-shadow(0px 5px 9px rgba(180,237,247,0.75));
    background-image: linear-gradient(90deg, #f3fbfd 70%, #ffffff 71%);
    position: relative;
}
.subject-area::before{
    content: '';
    position: absolute;
    background: url(../img/layer-38.png);
    background-size: contain;
    width: 74px;
    height: 450px;
    top: 0;
}
.services-area::after{
    content: '';
    position: absolute;
    background: url(../img/man-laptop.png);
    background-size: cover;
    right: 0;
    height: 232px;
    width: 170px;
    bottom: 0px;
}
.slide-list{
    color: #2b4386;
    font-weight: 400;
    font-size: 16px;
}
.slide-list li{
    margin-bottom: 20px;
}
.subject-desc h4{
    font-size: 20px;
    font-weight: 600;
    color: #2b4386;
    margin-bottom: 0;
}
.subject-desc h2{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #e8505b;
}
.subject-desc p{
    font-size: 14px;
    font-weight: 300;
    color: #979ca0;
}
.man-bg{
    position: relative;
}
.man-bg::after{
    content: '';
    position: absolute;
    background: url(../img/man-laptop.png);
    background-size: cover;
    right: 0;
    height: 450px;
    width: 330px;
    top: -150px;
}
.header-social li{
    background: var(--color-bay-of-many);
    cursor: pointer;
    color: var(--bg-orange);
    font-size: 12px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    margin-right: 5px !important;
}
.header-contact{
    color: #274e82;
    font-size: 14px
}
.header-contact i{
    margin-right: 7px;
}
.menu-bar{
    height: 96px;
}
.logo img{
    max-width: 200px;
}
.accordion-side{
    max-width: 250px;
    width: 100%;
}
.accordion-side .card{
    border-radius: 0;
    border: 0;
}
.accordion-side .card .card-header{
    background-color: var(--color-mandy);
    border-radius: 0;
    border-bottom: 1px solid #fff;
}
.accordion-side .card .card-header .card-link{
    font-weight: 300;
    font-size: 14px;
}
.accordion-side .card .card-header .card-link i{
    margin-right: 3px;
}
.accordion-side .card .card-header .card-link .badge-pre{
    color: var(--color-bay-of-many);
    margin-left: 0px;
    font-size: 12px;
}
.top-radius-10{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.bottom-radius-10{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.a-list{
    color: var(--color-bay-of-many);
    font-size: 14px;
}
.a-list li{
    height: 40px;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.a-list li i{
    font-size: 13px;
    margin-right: 8px;
}
.badge-dan{
    margin-left: 3px;
    color:var(--color-mandy);
    font-size: 12px;
}
.navbar-toggler{
    background: var(--color-mandy);
}
.navigation li{
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}
.navigation li a{
    color: #fff;
}
.navigation li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.login-menu .btn{
    font-size: 18px;
    font-weight: 500;
    min-width: 150px;
}
.login-menu{
    margin-left: 30px;
}
.table .btn{
    border-radius: 0;
    font-size: 13px;
    font-weight: 600;
}
.btn-orange{
    background-color: var(--bg-orange);
    border-color: var(--bg-orange);
    color: var(--color-bay-of-many);
}
.btn-mandy{
    background-color: var(--color-mandy);
    border-color: var(--color-mandy);
    color: #fff;
}
.btn-white{
    background-color: #fff;
    border-color: #fff;
    color: var(--color-bay-of-many)
}
.bg-banners{
    background: url('../img/banner.png');
    height: 600px;
    background-size: cover;
    background-position: bottom;
    padding: 30px 0;
}
.faq-banners{
    background: url(../img/faq.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px 0;
    height: 450px;
    display: flex;
    align-items: center;
}
.contact-banners{
    background: url(../img/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px 0;
    height: 450px;
    display: flex;
    align-items: center;
}
.about-banners{
    background: url(../img/about.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px 0;
    height: 450px;
    display: flex;
    align-items: center;
}
.banner-section .main-heading .h40{
    font-size: 40px;
    font-weight: 700;
    color: var(--color-bay-of-many);
    line-height: 1.3;
}
.banner-section .main-heading .h40 span{
    color: var(--color-mandy);
    display: block;
}
.banner-section .main-heading .para{
    color: var(--color-bay-of-many);
    font-weight: 300;
}
.samples-bg{
    position: relative;
}
.samples-bg::before{
    content: '';
    position: absolute;
    background: url(../img/text.png);
    width: 118px;
    height: 201px;
    background-size: contain;
    top: -80px;
    z-index: 0;
    left: -45px;
}
.item-sample{
    width: 210px;
    height: 150px;
    border-radius: 20px;
    filter: drop-shadow(0px 5px 2.5px rgba(217,217,217,0.75));
    background-color: #ffffff;
    margin-bottom: 20px;
}
#samples-bg{
    width: 700px;
}
.samples-bg .relative{
    z-index: 13;
    position: relative;
}
.desc-heading{
    max-width: 470px;
}
.desc-heading h4{
    font-size: 20px;
    font-weight: 600;
    color: #e8505b;
    margin-bottom: 0;
}
.desc-heading h2{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #2b4386;
}
.desc-heading p{
    font-size: 14px;
    font-weight: 300;
    color: #979ca0;
}
.call-to-action{
    background: url('../img/action-call.png');
    width: 100%;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
}
.call-to-action::before{
    position: absolute;
    content: '';
    background: url(../img/layer-34.png);
    width: 293px;
    height: 325px;
    background-size: contain;
    bottom: 10px;
}
.call-to-action .form{
    max-width: 400px;
    width: 100%;
    padding: 10px;
}
.call-to-action .form .form-control{
    border: none;
}
.call-to-action .form .btn{
    max-width: 135px;
    display: inline-block;
    width: 100%;
    background: #e84f5a;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.desc{
    padding: 10px;
}
.desc h3{
    font-size: 34px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -1px;
}
.desc h6{
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    padding-top: 5px;
}
.testimonial{
    background-color: #b4edf7;
    padding: 70px 20px;
}
.testimonial-pos{
    position: relative;
}
.testimonial-pos::before{
    content: '';
    position: absolute;
    background: url(../img/text.png);
    width: 115px;
    height: 200px;
    background-size: contain;
    top: -50px;
    left: -50px;
}
.vjs-poster{
    background-size: cover !important;
    border-radius: 10px;
}
.video-js{
    border-radius: 10px;
}
.vjs-big-play-button{
    left: 130px !important;
    top: 140px !important;
}
.blockquote-mk{
    position: relative;
    max-width: 460px;
    min-height: 200px;
    background: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 9px rgba(180,237,247,0.75));
    padding: 50px;
    font-size: 15px;
    line-height: 24px;
    color: #979ca0;
    font-weight: 300;
}
.blockquote-bottom{
    color: #231f20;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 8px;
}
button:focus{
    outline: none;
}
.owl-slider-vs.owl-theme .owl-dots .owl-dot.active span,
.owl-slider-vs.owl-theme .owl-dots .owl-dot:hover span {
    background: #2b4385;
}
.owl-slider-vs.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    margin: 5px 7px;
    background: #fff;
    display: block;
    transition: opacity .2s ease;
    border-radius: 8px;
}
#subject-area.owl-theme .owl-dots .owl-dot.active span,
#subject-area.owl-theme .owl-dots .owl-dot:hover span {
    background: #2b4385;
}
#subject-area.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    margin: 5px 7px;
    background: #b4edf7;
    display: block;
    transition: opacity .2s ease;
    border-radius: 8px;
}
#service-area.owl-theme .owl-dots .owl-dot.active span,
#service-area.owl-theme .owl-dots .owl-dot:hover span {
    background: #2b4385;
}
#service-area.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    margin: 5px 7px;
    background: #b4edf7;
    display: block;
    transition: opacity .2s ease;
    border-radius: 8px;
}
#testimonial.owl-theme .owl-dots .owl-dot.active span,
#testimonial.owl-theme .owl-dots .owl-dot:hover span {
    background: #2b4385;
}
#testimonial.owl-theme .owl-dots .owl-dot span {
    width: 50px;
    height: 4px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 0px;
}
.testimonial .item{
    margin-bottom: 10px;
}
.testimonial .item hgroup h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: var(--color-bay-of-many);
    padding-bottom: 10px;
}
.testimonial .item hgroup h5{
    font-size: 24px;
    font-weight: 700;
    color: var(--color-mandy);
    margin-bottom: 0;
}
.blockquote-mk::before{
    content: '';
    position: absolute;
    background: url(/img/left-quote.png);
    width: 70px;
    height: 52px;
    background-size: contain;
    top: -8px;
    left: 10px;
}
.blockquote-mk::after{
    content: '';
    position: absolute;
    background: url(/img/right-quote.png);
    width: 70px;
    height: 52px;
    background-size: contain;
    bottom: -8px;
    right: 10px;
}
.form-container{
    max-width: 380px;
    border: 1px dashed var(--color-bay-of-many);
    border-bottom: none;
    padding-top: 6px;
    border-radius: 4px;
}
.form-container form{
    padding: 0 6px;
}
.form-container .form-control{
    height: 44px;
    border: 0;
    color: #b8b8b8;
    font-size: 13px;
}
.form-container .input-group-text{
    background-color: #fff;
    border: none;
    color: var(--color-bay-of-many);
    font-weight: 700;
    font-size: 18px;
}
.price{
    color: var(--color-bay-of-many);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 12px;
}
.slider .owl-nav{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 24px;
}
.slider .owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent;
    color: var(--color-bay-of-many);
}
.discount{
    font-size: 20px;
}
.btn-processed{
    height: 55px;
    background: #2c4386;
    color: #fff;
    border-radius: 0;
    border-top: 3px solid #e84f5a;
    font-size: 20px;
    font-weight: 700;
}
.btn-faq{
    height: 40px;
    background: #2c4386;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    max-width: 310px;
}
.form-container h4{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--color-bay-of-many);
}
.content-table .heading{
    font-weight: 300;
    color: var(--color-bay-of-many);
    margin-top: 2px;
}
.content-table .table td, .content-table .table th{
    vertical-align: middle;
    border-top: none;
}
.content-table .table .thead-dark tr{
    height: 68px;
    text-align: center;
}
.content-table .table .thead-dark th{
    background-color: var(--color-bay-of-many);
    border-color: var(--color-bay-of-many);
    border: 0;
    font-size: 14px;
    color: #FFFFFFF2;
    font-weight: 600;
}
.content-table .table{
    border-collapse: separate;
    border-spacing: 0 15px;
}
.content-table .table .id{
    color: var(--color-mandy);
}
.content-table .table tbody{
    color: #979ca0;
    font-size: 11px;
    text-align: center;
}
.content-table .table tbody tr{
    background: #FAFAFA;
    height: 75px;
}
.content-table .table .thead-dark th:first-child{
    border-top-left-radius: 10px;
}
.content-table .table .thead-dark th:last-child{
    border-top-right-radius: 10px;
}
.student-services{
    padding: 60px 0;
    position: relative;
}
.student-services::before{
    content: '';
    position: absolute;
    background: url(/img/st-1.png);
    width: 250px;
    height: 175px;
    right: 140px;
    top: 225px;
    background-size: contain;
}
.student-services .leptop-user{
    max-width: 100%;
}
.student-services .head-content{
    max-width: 425px;
}
.student-services hgroup h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--color-bay-of-many);
    line-height: 1.3;
}
.student-services hgroup h5{
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}
.student-services .head-content p{
    font-size: 12px;
    color: #fff;
}
.mk-card{
    border-radius: 20px;
    padding: 15px 10px 10px;
    filter: drop-shadow(0px 5px 2.5px rgba(180,237,247,0.75));
    background-color: #ffffff;
    border: 2px solid #b4edf7;
    margin: 10px 0;
}
.mk-services.mk-card{
    background: #b3edf7;
}
.mk-services.mk-card:hover{
    background: #2b4385;
    border: 2px solid #2b4385;
    filter: drop-shadow(0px 5px 2.5px rgba(43,67,133,0.75));
}
.mk-services.mk-card .heading-9{
    color: var(--color-mandy);
}
.mk-services.mk-card:hover .heading-9{
    color: #b3edf7;
}
.mk-services.mk-card .card-body{
    color: #2b4386;
}
.mk-services.mk-card:hover .card-body{
    color: #fff;
}
.mk-services.mk-card .icon span{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #f8f8f8;
}
.core-services::after{
    content: '';
    background: url('../img/yellow-lines.png');
    background-size: contain;
    position: absolute;
    top: -60px;
    right: -60px;
    width: 196px;
    height: 185px;
}
.core-services.mk-card{
    background: #fff;
    border: 2px solid #fff;
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.core-services.mk-card:hover{
    background: var(--color-mandy);
    border: 2px solid var(--color-mandy);
    filter: drop-shadow(0px 5px 2.5px rgba(132,80,91,0.75));
}
.core-services.mk-card .heading-9{
    color: var(--color-mandy);
    font-size: 21px;
    line-height: 25px;

}
.core-services.mk-card:hover .heading-9{
    color: var(--color-bay-of-many);
}
.core-services.mk-card .card-body{
    color: #2b4386;
    font-size: 13px;
}
.core-services.mk-card:hover .card-body{
    color: #fff;
}
.core-services.mk-card .icon span{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #f8f8f8;
}

.mk-card .icon img{
    max-width: 40px;
}
.mk-card .heading-9{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #2c4386;
}
.mk-card .card-body{
    padding-left: 0;
    padding-right: 0;
    padding-left: 0;
    font-size: 10px;
    color: #a9a9a9;
}
.faqs{
    padding: 40px 0;
}
.faqs-row{
    border-radius: 20px;
    filter: drop-shadow(0px 5px 12.5px rgba(180,237,247,0.75));
    background-color: #ffffff;
    padding: 30px;
}
.faqs-row h4{
    font-size: 18px;
    color: #2c4386;
}
.faqs-row p{
    font-size: 15px;
    color: #979ca0;
    font-weight: 300;
    line-height: 25px;
}
.faqs-right-top{
    position: relative;
    margin-bottom: 40px;
}
.faqs-right-top::after{
    content: '';
    background: url(../img/1.png);
    width: 200px;
    height: 136px;
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: -75px;
    right: -55px;
}
.faqs-left-center{
    position: relative;
}
.faqs-left-center::after{
    content: '';
    background: url(../img/2.png);
    width: 109px;
    height: 180px;
    background-size: contain;
    position: absolute;
    left: -65px;
    z-index: -1;
    bottom: 0;
}
.faq-select .form-control{
    border: 1px solid #2c4386;
    font-size: 13px;
    color: #2c4386;
}
.distance-wrap{
    background: var(--color-mandy);
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
}
.distance-wrap::before{
    content: '';
    background: url('../img/Layer35.png');
    width: 222px;
    height: 250px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    left: 25px;
}
.distance-wrap::after{
    content: '';
    background: url('../img/lines-21.png');
    width: 350px;
    height: 252px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
}
.distance-wrap .desc-discount h2{
    font-size: 30px;
}
.distance-wrap .desc-discount h2 span{
    font-size: 60px;
}
.distance-wrap .desc-discount h6{
    font-size: 20px;
}
.footer-top{
    padding: 55px 0 25px;
}
.footer-top .container{
    max-width: 950px;}
.footer-top .logo-section{
    font-size: 12px;
    font-weight: 400;
}
.footer-top .logo-section p+p{
    font-weight: 500;
}
.footer-logo{
    max-width: 200px;
    margin-bottom: 30px;
}
.footer-menu{
    font-weight: 600;
    margin-left: 40px;
    font-size: 14px;
    margin-bottom: 0;
}
.footer-menu li{
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-menu li a{
    color: #fff;
}
.footer-menu li a:hover{
    text-decoration: none;
}
.footer-menu li:last-child{
    margin-bottom:0;
}
.social-icons li{
    background: #fff;
    cursor: pointer;
    color: var(--color-bay-of-many);
    font-size: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
}
.payment-icons{
    padding-top: 30px;
}
.payment-icons img{
    max-width: 55px;
}
.footer-middle{
    height: 130px;
    padding: 15px 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: center;
}
.footer-middle ul{
    padding: 10px 0;
}
.footer-middle ul li+li{
    padding-left: 30px;
}
/* Footer Bottom  */
.footer-bottom ul{
    align-items: center;
    color: var(--color-bay-of-many);
    display: flex;
    height: 54px;
    margin: 0 auto;
    max-width: 700px;
    font-weight: 600;
}
.footer-bottom li {
    font-size: 16px; /* psd 20px  */
}
.footer-bottom li+li::before{
    content: '|';
    margin-right: 10px;
}

.distinction .form-control{
    max-width: 500px;
    margin: 20px auto;
    height: 45px;
    border: 2px solid;
}
.distinction .btn-faq{
    margin: 0 auto;
}
.contact-features{
    padding: 130px 0;
    position: relative;
}
.contact-features::before{
    content: '';
    background: url(../img/layer-38.png);
    width: 71px;
    height: 435px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 75px;
}
.contact-features::after{
    content: '';
    background: url(../img/Layer35b.png);
    width: 71px;
    height: 435px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 75px;
}
.card-wrap{
    border-radius: 20px;
    filter: drop-shadow(0px 5px 12.5px rgba(180,237,247,0.75));
    background-color: #ffffff;
    padding: 30px;
}
.card-wrap p{
    color: #979ca0;
}
.wrapper{
    position: relative;
}
.wrapper-top::before{
    content: '';
    background: url(../img/3.png);
    width: 200px;
    height: 118px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    top: -75px;
    left: 20%;
}
.wrapper-left::before{
    content: '';
    background: url(../img/2.png);
    width: 86px;
    height: 142px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    left: -65px;
    top: 25px;
}
.wrapper-right::before{
    content: '';
    background: url(../img/image.png);
    width: 97px;
    height: 165px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    right: -50px;
    top: 10px;
}
.wrapper-bottom::before{
    content: '';
    background: url(../img/4.png);
    width: 200px;
    height: 157px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    bottom: -65px;
    left: 65px;
}
.wrapper-left-top::before{
    content: '';
    background: url(../img/text.png);
    width: 311px;
    height: 530px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    left: -150px;
    transform: scale(.5);
    top: -200px;
}
.wrapper-right-top::before{
    content: '';
    background: url(../img/image.png);
    width: 311px;
    height: 530px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    right: -140px;
    transform: scale(.5);
    top: -190px;
}
.about-features{
    padding: 80px 0;
}
.wrap-ul{
    list-style: none;
    position: relative;
    padding-left: 25px;
    margin-top: 10px;
}
.wrap-ul li{
    padding-left:0px;
    color: #2e3032;
    font-weight: 300;
    line-height: 27px;
}
.wrap-ul li::before{
    content: '';
    background: url('../img/check.png');
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    margin-top: 8px;

}
.empowering-wrap{
    background: var(--color-mandy);
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
}
.empowering-wrap::before{
    content: '';
    background: url(../img/lines.png);
    width: 203px;
    height: 250px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.empowering-wrap::after{
    content: '';
    background: url(../img/Layer01.png);
    width: 258px;
    height: 252px;
    background-size: contain;
    position: absolute;
    z-index: 0;
    right: 50px;
    bottom: 10px;
}
.empowering-wrap .btn-faq{
    height: 40px;
    background: #2c4386;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    max-width: 150px;
    margin: 0;
    margin-top: 10px;
}
.empowering-wrap .btn-sec{
    height: 40px;
    background: #b4edf7;
    border:2px solid #2c4386;
    color: var(--color-mandy);
    font-size: 16px;
    font-weight: 700;
    max-width: 170px;
    font-weight: 300;
}
.help-section{
    padding: 60px 0;
    background: #f3fcfd;
}
.layer-20{
    width: 100%;
    height: 370px;
    object-fit: contain;
}
.process-wrap{
    height: 500px;
    display: flex;
    align-items: center;   
}
.process-wrap .process-box{
    width: 450px;
    height: 400px;
    border: 3px solid;
    border-radius: 10px;
    position: relative;
    padding: 5px;
    background: #fff;
}
.process-wrap .process-box.box{
    border-color: #e84f5a;
}
.process-area::after {
    content: '';
    position: absolute;
    background: url(../img/man-laptop.png);
    background-size: cover;
    right: 0;
    height: 232px;
    width: 170px;
    bottom: 0px;
}
.process-wrap .process-box.box::before{
    content: '';
    background: #ebebeb;
    position: absolute;
    width: 430px;
    height: 380px;
    border-radius: 10px;

}
.process-wrap-1::after{
    position: absolute;
    content: '';
    background: url(../img/lines-21.png);
    background-size: contain;
    height: 300px;
    right: 0;
    bottom: 0;
    width: 417px;
    z-index: -1;   
}
.box-img{
    position: relative;
}
.box-img::before{
    position: absolute;
    content: '';
    background: url(../img/5.png);
    background-size: contain;
    width: 200px;
    height: 300px;
    left: -30px;
    top: -40px;
}
.abs-pro::after{
    position: absolute;
    content: '';
    background: url(../img/Layer21.png);
    background-size: contain;
    width: 82px;
    height: 500px;
    left: 54px;
    top: -114px;
}
.abs-pro{
    align-items: center;
    display: flex;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: -60px;
    padding: 50px;
    border: 3px dashed #b3edf7;
}
.abs-pro h1{
    font-size: 80px;
}
.process-wrap-2 .abs-pro{
    right: -20px;
    left: auto;
}
.process-wrap-2 .abs-pro::after{
    position: absolute;
    content: '';
    background: url(../img/Layer21b.png);
    background-size: contain;
    width: 73px;
    height: 500px;
    left: initial;
    right: 15px;
    z-index: 12;
}
.min-width-600{
    min-width: 600px;
}
.margin-left-160{
    margin-left: 162px;
}
@media only screen and (max-width: 767px) {
.menu-bar{
    min-height: 96px;
    height: auto;
}
.logo{
    height: 96px;
    line-height: 96px;
}
.login-menu{
    margin-left: 0;
    padding-top: 15px;
}
.login-menu .list-inline-item:not(:last-child){
    margin-right: 0;
    margin-bottom: 15px;
}
.testimonial-pos{
    max-width: 100% !important;
}
.testimonial .item{
    flex-direction: column;
    align-items: center;
}
.testimonial .item hgroup{
    margin-top: 20px;
}
.man-bg::after {
    height: 150px;
    width: 111px;
    top: 0px;
}
#samples-bg{
    width: 100%;
}
.item-sample{ width: 100%; height: 200px;}
.contact-discount .container::before {
    width: 140px;
    height: 130px;
    bottom: 0;
    top: auto;
}
.desc-discount h2{
    font-size: 18px;
}
.desc-discount h2 br{
    display: none;
}
.desc-discount h2 span{
    font-size: 30px;
}
}
@media only screen and (max-width: 600px) {
    .my-video-dimensions{
        width: 100%;
        height: 200px;
    }
    .vjs-big-play-button {
        left: 100px !important;
        top: 76px !important;
    }    
    .box-img.ml-5{
        margin-left: 0 !important;
    }
    .box-img{
        margin-top: 20px;
    }
    .process-wrap .process-box{
        width: 100%;
        height: 300px;
    }
    .process-wrap{
        height: auto;
        padding: 30px 0;
    }
    .process-wrap .process-box.box::before{
        max-width: 300px;
        height: 280px;
    }
    .process-con{
        margin-left: 0 !important;
    }
    .subject-desc h2{
        font-size: 32px;
    }
    #subject-area{
        margin-top: 20px;
    }
    .distance-wrap::before{
        width: 135px;
        height: 150px;
        left: 0;
        top: 0;
    }
    .distinction .container, .distance-wrap .container{
        z-index: 2;
    }
    .distance-wrap .desc-discount h2 span{
        font-size: 40px;
    }
    .wrapper-right-top::before{
        right: -90px;
    }
    .wrapper-right::before{
        right: 0px;
    }
    .faqs-right-top::after{
        right: 0;
    }
    .distance-wrap .desc-discount h2{
        font-size: 18px;
    }
    .distance-wrap .desc-discount h6{
        font-size: 15px;
    }
    .banner-section .main-heading .h40 {
        font-size:30px;
    }
    .choose-us {
        height: auto;
        padding: 20px 0;
    }
    .choose-us::before {
        content: '';
        position: absolute;
        background: url(../img/lines.png);
        background-size: contain;
        width: 340px;
        height: 480px;
        left: 0;
    }
    .choose-us .justify-content-center{
        flex-direction: column;
    }
    .choose-us .justify-content-between{
        flex-direction: column;
        width: 100% !important;
        padding-right: 0 !important;
        align-items: center;
    }
    .box-us{
        width: 100%;
    }
    .our-benefit{
        padding: 60px 0 !important;
    }
    .ops-abs{
        display: none;
    }
    .ops-abs-img{
        display: none;
    }
    .margin-left-160{
        margin-left: 0;
    }
    .min-width-600{
        min-width: 100%;
    }
    .order-process{
        padding: 0 15px;
    }
    .order-process::before{
        width: 0;
    }
    .item-box::before{
        width: 0;
    }
    .hgroup-heading h3{
        font-size: 24px;
    }
    .hgroup-heading.mb-5{
        margin-bottom: 2rem!important;
    }
    .call-to-action{
        height: auto;
        padding-bottom: 100px;
    }
    .call-to-action .justify-content-end{
        flex-direction: column;
    }
    .call-to-action::before {
        position: absolute;
        content: '';
        background: url(../img/layer-34.png);
        width: 124px;
        height: 140px;
        background-size: contain;
        bottom: 10px;
    }
    .desc h3{
        font-size: 22px;
    }
    .desc h6{
        font-size: 16px;
    }
    .header-contact{
        font-size: 13px;
    }
    .header-social li{
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .footer-top .social-icons{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .footer-menu{
        margin-left: 0;
    }
    .footer-middle{
        height: auto;
        font-size: 14px;
    }
    .footer-middle ul li{
        margin: 5px 0;
    }
    .footer-middle ul li+li{
        padding-left: 0;
    }
    .footer-bottom ul{
        flex-direction: column-reverse;
        height: auto;
        align-items: initial;
        padding: 10px 0;
    }
    .footer-bottom li{
        font-size: 14px;
    }
    .footer-bottom li+li::before{
        display: none;
    }
  }